In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame, Series
import re

%matplotlib inline

In [2]:
salary_data = pd.read_csv(
                    'Data/salaries.csv', dtype='str',
                    names=['yearID', 'teamID', 'lgID',
                              'playerID', 'salary'])
salary_data = salary_data.ix[1:]

In [3]:
batting_data = pd.read_csv(
                    'Data/batting.csv', dtype='str',
                    names=['playerID', 'yearID',
                           'stint', 'teamID', 'lgID',
                           'G', 'AB', 'R', 'H', 'TWB',
                           'THB', 'HR', 'RBI', 'SB',
                           'CS', 'BB', 'SO', 'IBB',
                           'HBP', 'SH', 'SF', 'GDIP'])
batting_data = batting_data.ix[1:]

In [4]:
appearances_data = pd.read_csv(
                    'Data/appearances.csv', dtype='str',
                    names=['yearID', 'teamID', 'lgID', 'playerID',
                           'G_all', 'GS', 'G_batting', 'G_defense',
                           'G_p', 'G_c', 'G_onb', 'G_twb', 'G_3b',
                           'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of',
                           'G_dh', 'G_ph', 'G_pr'])
appearances_data = appearances_data.ix[1:]

In [5]:
salary_data.salary = pd.to_numeric(salary_data.salary, errors='coerce')

In [6]:
batting_data.G = pd.to_numeric(batting_data.G, errors='coerce')
batting_data.AB = pd.to_numeric(batting_data.AB, errors='coerce')
batting_data.R = pd.to_numeric(batting_data.R, errors='coerce')
batting_data.H = pd.to_numeric(batting_data.H, errors='coerce')
batting_data.TWB = pd.to_numeric(batting_data.TWB, errors='coerce')
batting_data.THB = pd.to_numeric(batting_data.THB, errors='coerce')
batting_data.HR = pd.to_numeric(batting_data.HR, errors='coerce')
batting_data.RBI = pd.to_numeric(batting_data.RBI, errors='coerce')
batting_data.SB = pd.to_numeric(batting_data.SB, errors='coerce')
batting_data.CS = pd.to_numeric(batting_data.CS, errors='coerce')
batting_data.BB = pd.to_numeric(batting_data.BB, errors='coerce')
batting_data.SO = pd.to_numeric(batting_data.SO, errors='coerce')
batting_data.IBB = pd.to_numeric(batting_data.IBB, errors='coerce')
batting_data.HBP = pd.to_numeric(batting_data.HBP, errors='coerce')
batting_data.SH = pd.to_numeric(batting_data.SH, errors='coerce')
batting_data.SF = pd.to_numeric(batting_data.SF, errors='coerce')
batting_data.GDIP = pd.to_numeric(batting_data.GDIP, errors='coerce')

In [7]:
salary_data = salary_data.sort_values(by=['playerID', 'yearID'], ascending=[True, False])
salary_data.head(5)

      yearID teamID lgID   playerID   salary
22773   2012    NYA   AL  aardsda01   500000
22096   2011    SEA   AL  aardsda01  4500000
21258   2010    SEA   AL  aardsda01  2750000
20428   2009    SEA   AL  aardsda01   419000
19046   2008    BOS   AL  aardsda01   403250

In [8]:
batting_data = batting_data.sort_values(by=['playerID', 'yearID'], ascending=[True, False])
batting_data.head(5)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,TWB,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GDIP
99847,aardsda01,2015,1,ATL,NL,33,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
97003,aardsda01,2013,1,NYN,NL,43,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95595,aardsda01,2012,1,NYA,AL,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92850,aardsda01,2010,1,SEA,AL,53,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91462,aardsda01,2009,1,SEA,AL,73,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
print(len(salary_data))
print(len(batting_data))
batting_salary = pd.merge(batting_data, salary_data, on=[
                            'playerID', 'yearID', 'teamID', 'lgID'])
print(len(batting_salary))

25575
101332
24626

In [10]:
appearance_data = appearances_data.sort_values(by=['playerID', 'yearID'], ascending=[True, False])
appearances_data.head(5)

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_twb,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
1,1871,BS1,NaN,barnero01,31,NaN,31,31,0,0,...,16,0,15,0,0,0,0,NaN,NaN,NaN
2,1871,BS1,NaN,barrofr01,18,NaN,18,18,0,0,...,1,0,0,13,0,4,17,NaN,NaN,NaN
3,1871,BS1,NaN,birdsda01,29,NaN,29,29,0,7,...,0,0,0,0,0,27,27,NaN,NaN,NaN
4,1871,BS1,NaN,conefr01,19,NaN,19,19,0,0,...,0,0,0,18,0,1,18,NaN,NaN,NaN
5,1871,BS1,NaN,gouldch01,31,NaN,31,31,0,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN

In [11]:
print(len(appearances_data))
print(len(batting_salary))
bat_sal_app = pd.merge(batting_salary, appearances_data, on=[
                            'playerID', 'yearID', 'teamID', 'lgID'])
print(len(bat_sal_app))

100951
24626
24510

In [12]:
bat_sal_app.head(5)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,TWB,...,G_twb,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,aardsda01,2012,1,NYA,AL,1,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,aardsda01,2010,1,SEA,AL,53,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,aardsda01,2009,1,SEA,AL,73,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,aardsda01,2008,1,BOS,AL,47,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,aardsda01,2007,1,CHA,AL,25,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
numerator = bat_sal_app[['H','BB', 'HBP']].copy()
denominator = bat_sal_app[['AB', 'BB', 'HBP', 'SF']].copy()

In [14]:
numerator = numerator.sum(axis=1)
denominator = denominator.sum(axis=1)

In [15]:
bat_sal_app['OBP'] = numerator/denominator

In [16]:
bat_sal_app_goodOBP = bat_sal_app[bat_sal_app.OBP > 0]
bat_sal_app_goodOBP = bat_sal_app_goodOBP[bat_sal_app_goodOBP.OBP < 1]
bat_sal_app_goodOBP = bat_sal_app_goodOBP[bat_sal_app_goodOBP.salary > 50000]

In [17]:
len(bat_sal_app_goodOBP)

16799

In [18]:
bat_sal_app_goodOBP.head(5)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,TWB,...,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,OBP
10,abadan01,2006,1,CIN,NL,5,3.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,5,0,0.400000
13,abadfe01,2012,1,HOU,NL,37,7.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0.142857
15,abbotje01,2001,1,FLO,NL,28,42.0,5.0,11.0,3.0,...,0,0,1,9,8,17,0,9,7,0.326087
16,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,0,0,20,33,16,65,2,18,2,0.343096
17,abbotje01,1999,1,CHA,AL,17,57.0,5.0,9.0,0.0,...,0,0,17,0,0,17,0,0,0,0.222222

In [19]:
bat_sal_app_goodOBP[['OBP']].max(axis=0)

OBP    0.857143
dtype: float64

In [20]:
bat_sal_app_goodOBP[['OBP']].min(axis=0)

OBP    0.027027
dtype: float64

In [23]:
bat_sal_app_goodOBP['value'] = (1/bat_sal_app_goodOBP.salary)*bat_sal_app_goodOBP.OBP*1000000

In [24]:
bat_sal_app_goodOBP[['yearID', 'playerID','value', 'OBP', 'salary']].sort_values(by='value',
                                                                       ascending=False)

      yearID   playerID     value       OBP    salary
7629    1986  gibbojo02  8.391608  0.545455     65000
16236   1986  olwined01  8.333333  0.500000     60000
12095   1986   lakest01  7.500000  0.450000     60000
8838    1988   halldr01  7.352941  0.500000     68000
14018   1986  mazzile01  6.944444  0.416667     60000
11202   1993  jonesch06  6.880734  0.750000    109000
11280   1986  jonestr01  6.770833  0.406250     60000
12006   1986   krukjo01  6.717949  0.403077     60000
8219    1986  greenmi01  6.666667  0.400000     60000
12475   1988  leipeda01  6.666667  0.500000     75000
4972    1986  danieka01  6.634304  0.398058     60000
14687   1987  milleke01  6.518519  0.407407     62500
20083   1987  seitzke01  6.386740  0.399171     62500
14016   1987  mazzile01  6.378378  0.398649     62500
13132   1986  lowrydw01  6.269006  0.391813     62500
14847   1986  mizerjo01  6.230530  0.373832     60000
13373   1987  magadda01  6.176744  0.386047     62500
22678   1994  veresda01  6.116208  0.666667    109000
13511   1994  manzara01  6.116208  0.666667    109000
17274   1995  persoro01  6.116208  0.666667    109000
5748    1993  drapemi01  6.116208  0.666667    109000
11248   1989  jonesro02  6.081081  0.450000     74000
24351   1987  youngge02  6.072607  0.379538     62500
14740   1988  millira01  6.058252  0.378641     62500
14261   1987  mcgrifr01  6.022472  0.376404     62500
13649   1987  martida01  5.949904  0.371869     62500
18284   1988   reedjo01  5.898647  0.380463     64500
220     1986  aldremi01  5.886243  0.353175     60000
23105   1989   wardga01  5.882353  0.400000     68000
2243    1988  bookero01  5.860806  0.410256     70000
...      ...        ...       ...       ...       ...
24478   2010   zitoba01  0.007277  0.134615  18500000
20177   2005  sheetbe01  0.007246  0.043478   6000000
8812    2011  hallaro01  0.007237  0.144737  20000000
18994   2012  rodriwa01  0.007143  0.075000  10500000
7520    2012  garzama01  0.007018  0.066667   9500000
12480   2003  leiteal01  0.006818  0.054545   8000000
15216   2015  mortoch02  0.006757  0.054054   8000000
12726   2013  linceti01  0.006742  0.150000  22250000
18993   2013  rodriwa01  0.006734  0.090909  13500000
5293    2013  delarjo01  0.006734  0.074074  11000000
5380    2012  dempsry01  0.006696  0.093750  14000000
8871    2015  hamelco01  0.006547  0.153846  23500000
3004    2012  burneaj01  0.006428  0.106061  16500000
7518    2014  garzama01  0.006400  0.080000  12500000
2876    2012  buehrma01  0.006397  0.044776   7000000
3278    2013   cainma01  0.006222  0.129630  20833333
18487   2002  reynosh01  0.006211  0.047619   7666667
20176   2006  sheetbe01  0.006112  0.058824   9625000
20175   2007  sheetbe01  0.005993  0.066667  11125000
3003    2013  burneaj01  0.005961  0.098361  16500000
21529   2015  tanakma01  0.005682  0.125000  22000000
12562   2015  lestejo01  0.005385  0.107692  20000000
21530   2014  tanakma01  0.005051  0.111111  22000000
11632   2015  kershcl01  0.004979  0.162162  32571000
12034   2010  kurodhi01  0.004547  0.070175  15433333
664     2013  arroybr01  0.004122  0.067797  16445535
24477   2011   zitoba01  0.003861  0.071429  18500000
19677   2012  santajo01  0.003703  0.085714  23145011
4351    2014  colonba01  0.003584  0.032258   9000000
8810    2013  hallaro01  0.002632  0.052632  20000000

[16799 rows x 5 columns]